@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

:root{
    --destaque:rgba(19, 20, 29, 0.829);
    --fundo:rgba(221, 167, 145, 0.082);
    --link:beige;
    --titulo:serif;
    --texto:"Jost", sans-serif;
}

body{
    background-color: var(--fundo);
    font:normal bold 16px var(--texto);
}


header{  
    position: fixed;
    backdrop-filter: blur(4px);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    justify-content: space-between;
    font-family: var(--titulo);
    padding: 10px;
}

header img{
    height: 50px;
    width: 50px;
}

header>nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header>nav>ol>li{
    list-style: none;
    margin-bottom: 5px;
    display: inline-block;
    width: 80px;
    border-radius: 5px;
    background-color: var(--destaque);
}

header>nav a{
    text-decoration: none;
    border: 1px solid rgba(165, 165, 122, 0.767);
    border-radius: 5px;
    text-align: center;
    width: 80px;
    display: block;
    color: var(--link);
    transition-duration: 0.4s;
}

nav a:hover{
    font-variant: small-caps;
    font-style: italic;
    opacity: 0.6;
}


main{
    display: grid;
    grid-template-columns: auto 96vw auto;
    gap: 10px;
}



section.hero{
    grid-area: 1/1/2/4;
    padding: 280px 20px 0px;
    height: 100vh;
    width: 100%;
    background:url("../image/fundo.jpeg") no-repeat center / cover;
}

section.hero>div.hero_imagem>img{
    width: 300px;
    height: 100%;
    display: block;
}

h1,h2{
    font-family: var(--titulo);
    font-weight: bold;
}

/* config da section servicos e os seus elementos*/

section#servicos{
    grid-area: 2/2/3/3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 70px ;
}


section#servicos>h2{
  width: 100%;
}


section#servicos>div{
    border: 1px solid black;
    border-radius: 10px;
    padding: 9px;
    margin: 12px 0px;
    flex: 0 1 400px;
    transition-timing-function: ease;
    transition: all 0.8s;
}

section#servicos>div img{
  width: 60px;
}

/* config da section Quem somos e os seus elementos*/
section#sobre_a_empresa{
    grid-area:3/2/4/3;
    margin-bottom: 70px ;
}

/* config da section contacto*/
section#contacto{
    grid-area:4/2/5/3;
    margin-bottom: 70px ;
}

footer{
    margin-top: 10px;
    background-color: var(--destaque);
    text-align: center;
    height: 60px;
    padding-top: 20px;

}

footer>p>a{
    text-decoration: none;
    color: var(--link);
}

@media screen and (max-width: 700px) {
    section.hero{
        background-image: url(../image/fundo_p.jpeg);
        width: 100%;
        height: 60vh;
        padding: 140px 12px 0px;
    }
}